@font-face {
  font-family: 'Google Open Sans';
  src: url('./OpenSans-Regular.ttf'),
    url('./OpenSans-Bold.ttf'),
    url('./OpenSans-BoldItalic.ttf'),
    url('./OpenSans-ExtraBold.ttf'),
    url('./OpenSans-ExtraBoldItalic.ttf'),
    url('./OpenSans-Italic.ttf'),
    url('./OpenSans-Light.ttf'),
    url('./OpenSans-LightItalic.ttf'),
    url('./OpenSans-Semibold.ttf'),
    url('./OpenSans-SemiboldItalic.ttf'),
}


$icon-font-path: "../../../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap";

@import "../../topnav/scss/topnav.scss";

body {
  padding-top: 50px;
}


// style guide styles
.sg-titleBox {
  padding: 40px 15px;
  text-align: center;
}

.sg-title {
    color: rgb(69.8%, 13.3%, 13.3%);
}

body {
  font-family: 'Google Open Sans';
}