@font-face {
  font-family: 'Google Open Sans';
  src: url('../../assets/OpenSans-Regular.ttf');
  src: url('../../assets/OpenSans-Bold.ttf');
  src: url('../../assets/OpenSans-BoldItalic.ttf');
  src: url('../../assets/OpenSans-ExtraBold.ttf');
  src: url('../../assets/OpenSans-ExtraBoldItalic.ttf');
  src: url('../../assets/OpenSans-Italic.ttf');
  src: url('../../assets/OpenSans-Light.ttf');
  src: url('../../assets/OpenSans-LightItalic.ttf');
  
  src: url('../../assets/OpenSans-Semibold.ttf');
  src: url('../../assets/OpenSans-SemiboldItalic.ttf');
}


$icon-font-path: "../../../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap";

@import "../../topnav/scss/topnav.scss";

body {
  padding-top: 50px;
}


// style guide styles
.sg-titleBox {
  padding: 40px 15px;
  text-align: center;
}

.sg-title {
    color: rgb(69.8%, 13.3%, 13.3%);
}

body {
  font-family: 'Google Open Sans';
}